<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hotelmanagementapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/welcomeicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FireExit"></activity>
        <activity android:name=".Emergency" />
        <activity android:name=".serviceRequest" />
        <activity android:name=".seivicePref" />
        <activity android:name=".HotelStaffPage" />
        <activity android:name=".Summary" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".BookRoomThroughInteraction" />
        <activity android:name=".dayPlan" />
        <activity android:name=".Pets" />
        <activity android:name=".Kids" />
        <activity android:name=".AccesabilityList" />
        <activity android:name=".Accesability" />
        <activity android:name=".SelectHotels" />
        <activity android:name=".BookSuite" />
        <activity android:name=".SelectionOfServices" />
        <activity android:name=".WelcomeGuest" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>