.images {
    display: flex;
    align-items:center;
    /* justify-content: center; */
    flex-direction: column;
}

.header {
    text-align: center;
    margin: 20px 10px
}

.row-one{
    height: 200px;
}

.image {
    object-fit: contain;
    width: "100%";
    height: 200px;
}

#result {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#result p {
    font-size: 20px;
    font-weight: bold;
}

p#final-result {
    font-size: 40px;
}