.container {
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

.grid-item {
    height: 70px;
    width: 70px;
    display: block;
    margin: 10px 5px;
}

.first {
    background-color: #FFE333;
}

.second {
    background-color: #FF4933;
}

.third {
    background-color: #9DFF33;
}

.fourth {
    background-color: #33FFEE;
}

.fifth {
    background-color: #33F1FF;
}

.sixth {
    background-color: #5933FF;
}

.seventh {
    background-color: #CB33FF;
}

.eight {
    background-color: #FF33EC;
}

.ninth {
    background-color: #FF337A;
}
