* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.wrapper {
    margin-top:10px;
    background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img(11).jpg');
    height: 500px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.wrapper .highlight {
    color:#acfdf9;
    font-size: 30px;
    margin-left: 7px;
}

.wrapper .detail-btn {
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px;
    background-color: #47ffff;
    color: black;
}

a.detail-btn {
    text-decoration: none
}

.detail-btn:focus {
    outline: none;
}

.col .image {
    width: 100%;
    height: 200px;
}

.image-heading {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

.profile {
    height: 120px;
    margin-top: 10px;
    border-bottom : 1px solid #ccc;
}

.profile-pic {
    height: 100px;
}

.mb-20 {
    margin-bottom: 20px;
}
